body {
	padding: 0px;
	margin: 0px;
	font-family: 'Pathway Gothic One', sans-serif;
}

.header-pic {
	width: 100%;
	height: 700px;
}

.title {
	display: flex;
	justify-content: center;
}

.logo {
	width: 200px;
	height: auto;
}

.lower-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-sidebar {
	background-color: black;
	color: white;
	padding-left: 20px;
	height: 700px;
	width: 300px;
}

.filters {
	display: flex;
	justify-content: center;
}

.noise-amb-container{
	display: flex;
	justify-content: space-between;
}

.noise-level {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 20px;
	
}

.ambiance {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 20px;
}
.schedule-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#googleMap {
	margin-left: 20px;
	width: 800px;
	height: 700px;
}

.style-select {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
}

.semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.color {
	background-color: lightgrey;
}

.style-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 268px;
}

.navbar {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color .5s ease 0s;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar.opaque {
	background-color: rgba(0, 0, 0, 1.0);
	transition: background-color .5s ease 0s;
}

/* @media (max-width: 992px) {
  body
  {
    background:none;
  }
  .navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}*/
.navbar ul {
	display: inline-flex;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	right: 150px;
}

.navbar ul li a {
	text-decoration: none;
	padding: 5px;
	color: white;
}

.gm-style .gm-style-iw {
	background-color: white;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	min-height: 120px !important;
	padding-bottom: 10px;
	font-family: 'Pathway Gothic One', sans-serif;
}

.gm-style #iw-container .iw-title {
	font-size: 24px;
	font-weight: 400;
	padding: 10px;
	color: white;
	background-color: black;
	text-align: center;
}

.gm-style #iw-container {
	height: 100%;
}

.gm-style #iw-container .iw-content {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	padding-left: 10px;
	color: black;
}

.gm-style .iw-img {
	padding-right: 10px;
	padding-top: 10px;
}

.indent {
	text-decoration: underline;
}

.filter-stuff {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
	margin-right: 5px;
	background-color: grey;
	color: white;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 2.5px 2.5px #888888;
}

.filter-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer {
	display: flex;
	justify-content: center;
}

#resetMarkers {
	margin: 5px;
}

/*#iw-close-btn {
	opacity: 1;
	right: 38px;
	top: 3px;
	border: 7px solid #48b5e9;
	border-radius: 13px;
	box-shadow: 0 0 5px #3990B9;
} */

/*
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
} */