body {
	padding: 0px;
	margin: 0px;
}

.header-pic {
	width: 100%;
	height: 700px;
}

.logo {
	width: 200px;
	height: auto;
}

.lower-page-container {
	display: flex;
	align-items: center;
}

.filter-sidebar {
	background-color: black;
	color: white;
	padding-left: 20px;
	height: 500px;
	width: 300px;
}

#googleMap {
	margin-left: 20px;
	width: 600px;
	height: 500px;
}

.navbar {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color .5s ease 0s;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar.opaque {
    background-color: rgba(0, 0, 0, 1.0);
    transition: background-color .5s ease 0s;
}

/* @media (max-width: 992px) {
  body
  {
    background:none;
  }
  .navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}*/



.navbar ul {
	display: inline-flex;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	right: 150px;
}



.navbar ul li a {
	text-decoration: none;
	padding: 5px;
	color: white;
}