body {
	padding: 0px;
	margin: 0px;
	font-family: 'Pathway Gothic One', sans-serif;
	background-color: black;
}

.header-pic {
	position: absolute;
	left: 0 px;
	top: 0 px;
	height: 600px;
	
	z-index: -1;

}

.title {
	display: flex;
	justify-content: center;
}

.logo {
	margin-top: 10px;
	width: 300px;
	height: auto;
}

.navbar {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color .5s ease 0s;
	width: 100%;
	position: absolute;
}

/*  .navbar.opaque {
	background-color: rgba(0, 0, 0, 1.0);
	transition: background-color .5s ease 0s;
} */

.navbar ul {
	display: inline-flex;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	right: 150px;
}

.navbar ul li a {
	text-decoration: none;
	padding: 5px;
	color: white;
}

.lower-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
}

.filter-sidebar {
	background-color: black;
	color: white;
	padding-left: 20px;
	height: 700px;
	width: 300px;
}

.filter {
	margin-top: 10px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}

.noise-amb-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.noise-level {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15px;
	margin-right: 50px;
}

.ambiance {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.schedule-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.filter-name {
	background: green;
	margin-bottom: 7px;
}

#googleMap {
	margin-left: 20px;
	width: 725px;
	height: 700px;
}

.time-dropdown {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
	height: 29px;
	overflow: hidden;
	width: 240px;
}

.semi-square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.color {
	background-color: lightgrey;
}

.time-dropdown select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 29px;
	padding: 5px;
	/* If you add too much padding here, the options won't show in IE */
	width: 268px;
}

.gm-style .gm-style-iw {
	background-color: white;
	top: 0 !important;
	left: 0 !important;
	width: auto !important;
	min-height: 120px !important; 
	font-family: 'Pathway Gothic One', sans-serif;
	overflow: hidden !important;
}

.gm-style #iw-container .iw-title {
	font-size: 24px;
	font-weight: 400;
	padding: 10px;
	color: white;
	background-color: black;
	text-align: center;
	
}

.gm-style #iw-container {
	width: 100%;
	height: 100%;
}

.gm-style .iw-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gm-style #iw-container .iw-content {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: black;
}

.gm-style .iw-img {
	padding-right: 10px;
	padding-top: 10px;
}

.indent {
	text-decoration: underline;
	padding-bottom: 5px;
}

.web-icon img {
    width: 21px;
    height: 21px;	
    border-radius: 7px;
    margin-left: 8px;
}

.estab-icon img {
    width: 20px;
    height: 20px;	
    border-radius: 8px;
    margin-left: 8px;
}

.filter-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 15px;
}

.filter-tags {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
	margin-right: 7px;
	background-color: grey;
	color: white;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 2.5px 2.5px #888888;
}

footer {
	display: flex;
	justify-content: center;
}

.button-container {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
	
/*background part of box*/
.filter-box {
  width: 15px;
  height: 15px;
  margin: 2px 0 2px -50px;
  background: #ddd;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
} 

/*inner shape of box*/
.filter-box label.inner {
  display: block;
  width: 10.75px;
  height: 10.75px;
  cursor: pointer;
  position: absolute;
  top: 2.125px;
  left: 2.125px;
  z-index: 1;
  background: #eee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
}

/*space between words and boxes*/
.filter-box label.outer {
  margin-left: 25px;
  word-wrap: no-wrap;
}

/*hiding old box*/
.filter-box [type=checkbox] {
  display: none
}

/*what happens when it's checked*/
.green.filter-box input[type=checkbox]:checked+label.inner {
  background: green;
} 

.green.filter-box {
	display: flex;
	justify-content: space-between;
}

.button-container button {
	border-radius: 5px;
	border: solid 1px black;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: medium;
	margin: 5px;
	padding: 5px;
}
